[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/oputyk
[access "refs/for/refs/*"]
	read = group user/oputyk
	push = group user/oputyk
	label-Code-Review = -2..+2 group user/oputyk
	label-Verified = -1..+1 group user/oputyk
	rebase = group user/oputyk
	removeReviewer = group user/oputyk
	submit = group user/oputyk
[access "refs/heads/*"]
	read = group user/oputyk
	create = group user/oputyk
	push = +force group user/oputyk
	pushMerge = group user/oputyk
[access "refs/tags/*"]
	push = group user/oputyk
	push = +force group user/oputyk
